In [4]:
import pandas as pd

bank_data = pd.read_csv('Applied-Deep-Learning-with-Keras/Lesson01/data/bank_data_feats_e2.csv', index_col = 0)

bank_data

,age,balance,day,month,duration,campaign,pdays,previous,is_default,is_housing,...,job_technician,job_unemployed,education_primary,education_secondary,education_tertiary,contact_cellular,contact_telephone,poutcome_failure,poutcome_other,poutcome_success
0,30,1787,19,10,79,1,-1,0,0,0,...,0,1,1,0,0,1,0,0,0,0
1,33,4789,11,5,220,1,339,4,0,1,...,0,0,0,1,0,1,0,1,0,0
2,35,1350,16,4,185,1,330,1,0,1,...,0,0,0,0,1,1,0,1,0,0
3,30,1476,3,6,199,4,-1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,59,0,5,5,226,1,-1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,-333,30,7,329,5,-1,0,0,1,...,0,0,0,1,0,1,0,0,0,0
4517,57,-3313,9,5,153,1,-1,0,1,1,...,0,0,0,0,1,0,0,0,0,0
4518,57,295,19,8,151,11,-1,0,0,0,...,1,0,0,1,0,1,0,0,0,0
4519,28,1137,6,2,129,4,211,3,0,0,...,0,0,0,1,0,1,0,0,1,0
4520,44,1136,3,4,345,2,249,7,0,1,...,0,0,0,0,1,1,0,0,1,0

In [5]:
bank_data['was_contacted'] = bank_data['pdays'].apply(lambda row : 0 if row == -1 else 1)

In [6]:
bank_data['was_contacted']

0       0
1       1
2       1
3       0
4       0
       ..
4516    0
4517    0
4518    0
4519    1
4520    1
Name: was_contacted, Length: 4521, dtype: int64

In [2]:
import pandas as pd
feats = pd.read_csv('Applied-Deep-Learning-with-Keras/Lesson01/data/bank_data_feats_e3.csv', index_col = 0)
target = pd.read_csv('Applied-Deep-Learning-with-Keras/Lesson01/data/bank_data_target_e2.csv', index_col = 0)

In [6]:
# y = Mx + b
# 학습시킬 정보, 테스트할 정보 적절히 만든다.
# test_size 학습에 적용하는 비용을 결정한다.

from sklearn.model_selection import train_test_split
test_size = 0.2
random_state = 42
X_train, X_test, y_train, y_test = train_test_split(feats, target, test_size = test_size, random_state = random_state)

In [7]:
print(f'Shape of X_train : {X_train.shape}')
print(f'Shape of y_train : {y_train.shape}')
print(f'Shape of X_test : {X_test.shape}')
print(f'Shape of y_test : {y_test.shape}')

Shape of X_train : (3616, 32)
Shape of y_train : (3616, 1)
Shape of X_test : (905, 32)
Shape of y_test : (905, 1)

In [8]:
from sklearn.linear_model import LogisticRegression

# y= 1 / 1 + e^
model = LogisticRegression(random_state = 42)

In [9]:
model.fit(X_train, y_train['y'])

/home/bitai/sw/anaconda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn import metrics
accuracy = metrics.accuracy_score(y_pred = y_pred, y_true = y_test)
print(f')